// Databse configuration
PORT=3000
# Replace #username and #password with your username and password
DATABASE = mongodb+srv:// #username :<password>@cluster0.bhkkqs1.mongodb.net/?retryWrites=true&w=majority
DATABASE_PASSWORD= #password
eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySWQiOiI2NWRiN2MxMDkzYjhmZThmZjE0YjdkN2EiLCJyb2xlIjoiYWRtaW4iLCJpYXQiOjE3MDg4ODM5NDgsImV4cCI6MTcwODk3MDM0OH0.5vmzaTztjliIpbuUDn9x3ZmaL1JpZJv-vhyxn3qKL6c