// Databse configuration
PORT=3000
# Replace #username and #password with your username and password
DATABASE = mongodb+srv:// #username :<password>@cluster0.bhkkqs1.mongodb.net/?retryWrites=true&w=majority
DATABASE_PASSWORD= #password